* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
    
  }


  html{
    scroll-behavior: smooth;
    
  }
  
  
  body {
    background-color: #000000;
  }
  
  
  a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
  
  
  
  
  img {
    object-fit: cover;
  }
  



  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border: 1px solid #e8e8e8;
    position:absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 10px 10px rgb(0, 190, 248), 0 0 10px rgb(0, 190, 248), 0 0 20px rgb(0, 190, 248);
    z-index: 1;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  nav .logo img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
  }
  
  nav .logo a {
    color: #ffffff;
    font-weight: 600;
  }
  
  nav .nav-link {
    display: flex;
    gap: 24px;
  }
  
  nav .nav-link a {
    font-size: 14px;
    color: #fcfcfc;
    transition: all 0.3s ease-in-out;
  }
  
  nav .nav-link a:hover {
    color: #007070;
  }
  
  nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 14px;
    height: 32px;
    width: 122px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3 ease;
  }
  
  nav button:hover,
  .hero .left-section .top .buttons button.doc:hover,
  .contact .items .item button:hover{
    background: rgb(0, 190, 248);
    color: #ffffff;
    border: 1px solid #000;
  }
  
  nav button i {
    font-size: 20px;
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    height: calc(100vh - 80px);
    padding: 0 60px;
    gap: 30px; 
  }
  
  .hero img {
    max-width: 520px;
    width: 44%;
    border-radius: 26px;
  }
  
  .hero .left-section {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  .hero .left-section .top h2 {
    font-size: 44px;
    margin-bottom: 24px;
  }
  
  .hero .left-section .top p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 24px;
    text-align: justify;
    
  }
  
  .hero .left-section .top .buttons {
    display: flex;
    gap: 8px;
  }
  
  .hero .left-section .top .buttons button,
  .projects .inner > button,
  .contact .items .item button {
    font-size: 16px;
    border: none;
    padding: 5px 20px;
    background: #fffefe;
    border: 1px solid #dedede;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .hero .left-section .top .buttons button i {
    font-size: 26px;
  }
  
  .hero .left-section .top .buttons button.doc,
  .contact .items .item button {
    background: #fffcfc;
    color: #000000;
  }
  
  .hero .left-section .top .buttons button.git:hover {
    background: rgb(7, 201, 207);
    color: #ffffff;
    border-color: transparent;
  }
  
  .hero .left-section .bottom p {
    font-size: 14px;
    color: #606060;
    margin-bottom: 10px;
  }
  
  .hero .left-section .bottom .icons {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
  }
  
  .icons{
    color: #fff;
  }
  
  h2{
    color: #fff;
  }
  .neons h2 {
    font-size: 9rem;
    text-align: center;
     font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    0% {
      color: #fff;
      text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
    
    100% {
      color: #fff;
      text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
  }
  
  /* page 2 */
  
  
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    padding: 50px;
  }
  
  .about > p {
    font-size: 14px;
    color: #606060;
    border: 1px solid #e8e8e8;
    padding: 6px 14px;
    border-radius: 16px;
    margin-bottom: 12px;
    background: #fff;
  }
  
  .about > h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about .items {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .about .items .item {
    width: 26%;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    background: #f1f1f1;
    flex-direction: column;
    padding: 0 0 30px;
  }
  
  .about .items .item .inner  {
    background: #ffffff;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #ffffff;
    min-height: 365px;
  }
  
  .about .items .item .inner img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
    transition: transform .2s ease-in-out;
  }
  
  .about .items .item .inner a {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    display: block;
  }
  
  .about .items .item .inner p {
    color: #606060;
    font-size: 15px;
  }

  .about .item .inner img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: transform .2s ease-in-out;
  }

  .projects{
    padding: 0 20px;
    background: #000000;
  }
  
  .projects .inner {
    background-color: #fafafa;
    color: #000;
    padding: 70px;
    border-radius: 24px;
    margin-top: 70px
   }

   .projects .inner p.debug {
    font-size: 14px;
    margin-bottom: 12px;
    color: #000000;
    border: solid #020202;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
   }

    .projects .inner p.debug i, .projects .inner > button i {
      font-size: 18px;
    }

   .projects .inner > h2 {
    font-size: 38px;
    color: #000000;
    margin-bottom: 24px;
   }

   .projects .inner p.info{
    font-size: 18px;
    color: #000000;
    margin-bottom: 24px;
   }

   .projects .inner > button{
    padding:  10px 20px;
    margin-bottom: 40px;
   }

   .projects .inner .items {
   display: flex;
   gap: 20px;
   }

   .projects .inner .items .item {
    border: 1px solid #484848;
    border-radius: 16px;
    padding: 32px 24px;
    height: 250px;
    width: 24%;
    background: #c0c0c0;
   }

   .projects .inner .items .item a {
    display: block;
    color: #000;
    margin: 24px 0 14px ;
    font-size: 20px
   }

   .projects .iems .itenner .itm p {
    color: #a1a1a1;
    font-size: 16px;
    line-height: 24px;
   }
   

 .contact{
  padding: 100px 60px;
  background: #000000;
 }

 .contact > h2 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 40px;
 }


 .contact .items {
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  flex-direction: row;
 }

 .contact .items .item {
  width: 80%;
  padding: 30px;
  border: 1px solid rgb(0, 0, 0);
 }


 .contact .items .item a {
  font-size: 24px;
  color: #000;
  display: inline-block;
  margin-bottom: 26px;
 }

 .contact .items .item p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
 }

 .contact .items .item .button {
  padding: 10px 24px ;
 }

 footer{
  display: flex;
  background: #fff;
  border-radius: 24px 24px 0 0;
  padding: 30px;
  gap: 20px;
  justify-content: center;
  align-items: center;

 }
 footer p, footer a{
  font-size: 16px;
  color: black;
  transition: 0.3s ease-in-out;
 }

 footer a:hover{
  color: #00fff2;
 }


 /* REPONSIF */

/* for large monitor */
 @media screen and (max-width:1200px) {
  .hero .left-section .top h2 {
    font-size: 25px;
  }

 

  .hero .left-section .top p {
    font-size: 14px;
  }

  .hero .left-section .top .buttons button,
  .projects .inner> button, .contact .items .item .button{
    font-size: 14px;
    padding: 8px 14px;
  }

  .hero .left-section .top .buttons button i {
    font-size: 18px;
  }

  .about .items .item .inner{
    min-height:  340px;
  }

  .about .items .item .inner a,
  .projects .project .inner > p.info,
  .contact .items .item {
    font-size: 15px;
  }

  .about .items .item .inner p {
    font-size: 13px;
  }

  .projects .inner .items {
    flex-wrap: wrap;
  }

  .projects .items .items .item{
    width: 46%;
    height: 220px;
  }
     
  .contact .items .item a {
    font-size: 18px;
  }

 }


/* for mid monitor */

@media screen and (max-width:992px) {
  .hero{
    margin-top: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 100px);
  }



  
  .hero .left-section {
    gap: 20px;
    align-items: center;
  }

  .hero .left-section .top {
    text-align: center;
  }

  .hero .left-section .top .buttons {
    justify-content: center;
  }

  .about .items {
    flex-wrap: wrap;
  }

  .about .items .item{
    width: 40%;
  }

  .projects .inner .items .item {
    height: 250px;
  }

  .contact .items .item .button {
    width: 100%;
  }
}

/* for android */
  
@media screen and (max-width: 768px) {
  nav,
  nav .nav-link  {
    width: 80%;
    font-size: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }


  nav .nav-link a {
    font-size: 10px;
  }

  nav .logo a {
    font-size:  11px;
  }

  nav .button {
    display: none;
  }

  .hero {
    padding:  0 40px;
  }

  .hero > img {
    width: 55%;
  }


  .about .items .item {
    
  width: 80%;

  }

  .projects .inner .items .item {
    width: 100%;

  }

    
    .contact .items  {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

     nav .github {
      display: none;
    }
  
}
  
  
  
  
